<p id="notice"><%= notice %></p>

<div class='column is-half is-offset-one-quarter'>
  <% if user_signed_in?%>
    <article class='media box'>
      <div class="media-content">
        <%= render "messages/form" %>
      </div>
    </article>
  <% else %>
    <div class="title">
      Only members can share and see who shared...
    </div>
  <% end %>

<% @messages.each do |message| %>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <p class="title is-5"><%=message.title%></p>
          <p><%=message.body%></p>
          <% if user_signed_in?%>
            <p><em><%="by #{message.user.username}" %></em><p>
          <% end %>
        </p>
          <% if user_signed_in? && current_user.id == message.user_id %>
            <nav class="level">
                <%= link_to "Delete", message, method: :delete, class:"button is-black", data: { confirm: "Are you sure you want to delete this tweeet?" } %>
            <%end%>
      </div>
    </div>
    
  </article>
</div>
<% end %>

