<p id="notice"><%= notice %></p>


<div class='column is-half is-offset-one-quarter'>

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <p class="title is-5"><%=@message.title%></p>
          <p><%=@message.body%></p>
          <% if user_signed_in?%>
            <p><em><%="by #{@message.user.username}" %></em><p>
          <% end %>
        </p>
      </div>
    

<%= link_to 'Edit', edit_message_path(@message), class: "button" %>
<%= link_to 'Back', messages_path %>
<%= link_to 'Delete', @message.destroy %>

  </div>
</article>
</div>
</div>